.beneficios {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/backgroundBeneficios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   justify-content: flex-start;
}

.beneficios-direção {
    display: flex;
    
}

.beneficios-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.beneficios-textos {
    display: flex;
    align-items: center;
}

.beneficios-parags {
    display: flex;
    flex-direction: column;
    width: 811px;
    height: 335px;
    gap: 40px;
}

.beneficios-parag1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.beneficios-parag2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.beneficios-parag3 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}
