.inicio {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.inicio-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.inicio-titulo {
    font-size: 96px;
    font-weight: 400;
    color: white;
}

.inicio-parag {
    width: 509px;
    height: 84px;
    font-size: 35px;
    color: white;
}

@media (max-width: 785px) {
    .inicio {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .inicio-titulo {
        font-size: 80px;
    }

    .inicio-parag {
        font-size: 30px;
    }


    
}