.problematica {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #D9D9D9, #0A212C );
    display: flex;
   justify-content: flex-start;
}

.problematica-direção {
    display: flex;
    width: 23px;
}

.problematica-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #06141B;
}

.problematica-textos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 113px;
    gap: 108px;
}

.problematica-titulo {
    width: 390px;
    height: 208px;
    font-weight: 400;
    font-size: 90px;
    color: white;
}

.problematica-parags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:60px;
}

.problematica-parag1 {
    width: 622px;
    height: 119px;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.problematica-parag2 {
    width: 622px;
    height: 119px;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

span {
    color: #06141B;
}


@media (max-width: 785px) {
    .problematica {
        display: flex;
        flex-direction: column;
    }

    .problematica-textos {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .problematica-titulo {
        display: flex;
        text-align: center;
        font-size: 70px;
    }

    .problematica-parags {
        display: flex;
        flex-direction: column;
        gap:60px;
        text-align: center;
    }

    .problematica-parag1 {
        width: 580px;
        height: 119px;
        font-weight: 400;
        font-size: 22px;
        color: white;
    }

    .problematica-parag2 {
        width: 580px;
        height: 119px;
        font-weight: 400;
        font-size: 22px;
        color: white;
    }

}