.projeto {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #d9d9d9, #0A212C);
    display: flex;
    justify-content:center;
}

.projeto-direção {
    display: flex;
    width: 23px;
}

.projeto-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #06141B;
}

.projeto-textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 113px;
    padding-top: 100px;
    gap: 80px;
}

.projeto-titulo {
    font-weight: 400;
    font-size: 90px;
    color: white;
}

.projeto-parag {
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.projeto-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 30px;
}
