/* geral */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #06141B;
}

/* fim geral */

/* header */

.navegação {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
    width: 100%;
    background-color: #06141B;
    position: fixed;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 46px;
}

.nav-inicio {
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s;
}

.nav-item a{
    color: white;
    font-weight: 200;
    font-size: 16px;
    transition: all 0.3s;
}

.nav-inicio:hover {
    color: rgb(157, 175, 169);
}

.nav-item a:hover {
    color: rgb(157, 175, 169);
}

.menu {
    cursor: pointer;
    display: none;
}
.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background-color: #D9D9D9;
    margin: 5px auto;
}

/* fim header */

/* inicio */

.inicio {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:center;
}

.inicio-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.inicio-titulo {
    font-size: 96px;
    font-weight: 400;
    color: white;
}

.inicio-parag {
    width: 509px;
    height: 84px;
    font-size: 35px;
    color: white;
}

/* fim inicio */

/* problemática */

.problematica {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #D9D9D9 , #0A212C 90%, #06141B);
    display: flex;
   justify-content: flex-start;
}

.problematica-direção {
    display: flex;
    width: 23px;
}

.problematica-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #06141B;
}

.problematica-textos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 113px;
    gap: 108px;
}

.problematica-titulo {
    width: 390px;
    height: 208px;
    font-weight: 400;
    font-size: 90px;
    color: white;
}

.problematica-parags {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:60px;
}

.problematica-parag1 {
    width: 622px;
    height: 119px;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.problematica-parag2 {
    width: 622px;
    height: 119px;
    font-weight: 400;
    font-size: 22px;
    color: white;
}

span {
    color: #06141B;
}

/* fim problemática */

/* projeto */

.projeto {
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at left, #D9D9D9, #92acb8 -20%, #4a6672 -10%, #123140, #06141B 50%);
    display: flex;
    justify-content:center;
}

.projeto-direção {
    display: flex;
    width: 23px;
}

.projeto-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.projeto-textos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 113px;
    padding-top: 100px;
    gap: 80px;
}

.projeto-titulo {
    font-weight: 400;
    font-size: 90px;
    color: white;
}

.projeto-parag {
    font-weight: 400;
    font-size: 22px;
    color: white;
}

.projeto-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 30px;
}

/* fim projeto */

/* objetivos */

.objetivos {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #06141B, #0A212C 10%, #D9D9D9);
    display: flex;
    flex-direction: column;
}

.objetivos-direção {
    display: flex;
    justify-content: flex-start;
    width: 23px;
}

.objetivos-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.objetivos-textos {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 143px;
    gap: 205px;

}

.objetivos-titulos {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.objetivos-titulo1 {
    width: 291px;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.objetivos-titulo2 {
    width: 329px;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.objetivos-titulo3 {
    width: 399px;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.objetivos-parags {
    display: flex;
    flex-direction: column;
    gap: 92px;
}

.objetivos-parag1 {
    width: 574px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.objetivos-parag2 {
    width: 578px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.objetivos-parag3 {
    width: 574px;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

/* fim objetivos */

/* público alvo */

.publico-alvo {
    width: 100%;
    height: 100vh;
    background-color: #d9d9d9;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.publico-direção {
    display: flex;
}

.publico-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: #06141B;
}

.publico-textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 143px;
    padding-top: 90px;
    gap: 105px;
}

.publico-titulo {
    width: 281px;
    height: 72px;
    font-size: 30px;
    font-weight: 400;
    color: #06141B;
}

.publico-parags {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.publico-parag1 {
    width: 366px;
    height: 245px;
    font-size: 20px;
    font-weight: 400;
    color: #06141B;
}

.publico-parag2 {
    width: 338px;
    height: 245px;
    font-size: 20px;
    font-weight: 400;
    color: #06141B;
}

.linha-vertical {
    display: flex;
    justify-content: center;
    height: 264px;
    border-right: 1px solid #06141B;
}

/* fim público alvo */

/* benefícios */

.beneficios {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/backgroundBeneficios.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   justify-content: flex-start;
}

.beneficios-direção {
    display: flex;
    
}

.beneficios-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.beneficios-textos {
    display: flex;
    align-items: center;
}

.beneficios-parags {
    display: flex;
    flex-direction: column;
    width: 811px;
    height: 335px;
    gap: 40px;
}

.beneficios-parag1 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.beneficios-parag2 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.beneficios-parag3 {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

/* fim benefícios */

/* na pratica */

.pratica {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #06141B, #123140 10%, #D9D9D9);
    display: flex;
    justify-content: flex-start;
}

.pratica-direção {
    display: flex;
}

.pratica-direção-txt {
    padding-top: 30px;
    padding-left: 30px;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.pratica-textos {
    display: flex;
    align-items: center;
}

.pratica-parags {
    display: flex;
    flex-direction: column;
    width: 765px;
    height: 383px;
    gap: 40px;
}

.pratica-parag1 {
    font-size: 35px;
    font-weight: 400;
    color: white;
}

.pratica-parag2 {
    font-size: 35px;
    font-weight: 400;
    color: white;
}

/* fim na pratica */

/* footer */

.rodapé {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    padding: 25px 50px;
    width: 100%;
}

/* fim footer */